@using Todo.Data.Entities
@using Todo.Extensions
@using Todo.Resources
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">
    <div class="row">
        <div class="col-xs-6">
            <a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                <strong>Add New Item</strong>
            </a>
        </div>
        <div class="col-xs-6">
            @await Html.PartialAsync("DetailsFilterPartial", Model.Filter)
        </div>
    </div>

    <table id="todo-list" class="table table-striped table-bordered" style="">
        <thead>
        <tr>
            <th>@TodoItemLabels.ToDoItemTitle</th>
            <th>@TodoItemLabels.ToDoItemResponsible</th>
            <th>@TodoItemLabels.ToDoItemImportance</th>
            <th>@TodoItemLabels.ToDoItemRank</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "danger";
                    break;
                case Importance.Low:
                    contextualClass = "info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }
            <tr id="item-@item.TodoItemId" class="@contextualClass">
                <td>
                    <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                        @if (item.IsDone)
                        {
                            <s>@item.Title</s>
                        }
                        else
                        {
                            <text>@item.Title</text>
                        }
                    </a>
                </td>
                <td class="text-right">
                    <small>
                        <span email-hash="@Gravatar.GetHash(item.ResponsibleParty.Email)" email="@item.ResponsibleParty.UserName"></span>
                        <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30"/>
                    </small>
                </td>
                <td>@item.Importance</td>
                <td>
                    <span>@item.Rank</span>
                    <button class="rank-button" onclick="patchRank(this, @item.TodoItemId, 1)">
                        <i class="glyphicon glyphicon-arrow-up"></i>
                    </button>
                    <button class="rank-button" onclick="patchRank(this, @item.TodoItemId, -1)">
                        <i class="glyphicon glyphicon-arrow-down"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>